@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.create-palette {
  @include flexbox(column, null, null);

  &__colours-container {
    @include flexbox(row, center, null);
  }

  &__colour-card {
    width: 15rem;
    height: 20rem;
    border: 2px solid rgb(83, 83, 83);
    border-radius: 1rem;
    overflow: hidden;
    margin-right: 1rem;
    @include flexbox(row, center, center);
  }

  &__colour {
    // color: white;
  }

  &__view-button {
    text-transform: uppercase;
    background-color: black;
    color: $secondary-text-color;
    padding: 2rem;
    border-radius: 1rem;
    margin-right: 2rem;
    border: none;
    box-shadow: 8px 13px 18px -3px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    color: white;
    margin: 2rem 4rem;
    align-self: flex-end;
  }
}

.colours-error {
  color: red;
  font-size: 3rem;
  margin: 2rem 0;
}
