@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.library-collections {
  @include flexbox(column, null, null);

  &__container {
    @include flexbox(column, null, null);
  }

  &__add-button {
    text-transform: uppercase;
    background-color: rgb(48, 46, 46);
    color: $secondary-text-color;
    padding: 2rem;
    border-radius: 1rem;
    margin-right: 2rem;
    border: none;
    box-shadow: 8px 13px 18px -3px rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
    color: white;
    margin: 2rem 4rem;
    align-self: flex-end;

    @include media-tablet {
      font-size: 2rem;
      padding: 2rem;
    }
  }

  &__searchbar-container {
    width: 90%;
    height: 5rem;
    margin: 2rem 0;
    position: relative;

    @include media-tablet {
      width: 40%;
      height: 5rem;
      margin: 4rem 0 2rem;
    }
  }

  &__searchbar {
    padding: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    font-size: 2rem;
  }

  &__searchbar-icon {
    width: 3rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.modal {
  background-color: white;
  top: 0;
  bottom: 0;
  padding: 5rem 2rem;
  position: fixed;
  margin: 40% auto;
  border-radius: 1rem;
  left: 0;
  right: 0;

  width: 90%;
  height: 40rem;

  @include media-tablet {
    height: 35rem;
    padding: 3rem 5rem;
    margin: 20% auto;
  }

  @include media-desktop {
    width: 60%;
    height: 28rem;
    padding: 4rem 15rem 4rem 6rem;
  }

  &__cross {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 3.5rem;
    line-height: 3rem;
    padding: 1rem 0;
    color: black;
  }

  &__message {
    line-height: 2rem;
    margin-bottom: 2rem;
    padding: 0;
    font-size: 1.6rem;
    line-height: 3rem;
  }

  &__input {
    height: 4rem;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 2rem;
  }

  &__form-btn {
    color: white;
    background-color: black;
    text-transform: uppercase;
    position: absolute;
    border: 1px solid white;
    font-size: 2rem;
    border-radius: 1rem;
    left: auto;
    right: 2rem;
    bottom: 4rem;
    padding: 2rem;

    @include media-tablet {
      right: 6rem;
    }
  }
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
  display: none;
}

.modal-error {
  color: red;
  font-size: 2rem;
  margin: 2rem 0;
}
