@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.mockups-section {
  @include flexbox(column, center, center);
  @include media-desktop {
    margin-top: 10rem;
  }

  &__mockup-container {
    position: relative;
    width: 70%;
    @include flexbox(row, flex-start, null);

    @include media-tablet {
      width: 80%;
    }
  }

  &__mockup {
    width: 100%;
    height: 70vh;
    background-color: white;
    border-radius: 2rem;
    margin: 3rem 0;
  }

  &__button {
    position: absolute;
    bottom: 2rem;
    right: -3rem;
    text-transform: uppercase;
    background-color: rgb(48, 46, 46);
    color: $secondary-text-color;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 2rem;
    border: none;
    box-shadow: 8px 13px 18px -3px rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
    color: white;

    @include media-tablet {
      font-size: 2rem;
      padding: 2rem;
    }
  }

  &__refresh-icon {
    position: absolute;
    bottom: 9rem;
    bottom: 2rem;
    right: 18rem;
    width: 4rem;
    border-radius: 1rem;
    box-shadow: 8px 13px 18px -3px rgba(0, 0, 0, 0.5);

    @include media-tablet {
      width: 6rem;
    }
  }
}
