@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.mockups-section {
  margin-top: 10rem;
  @include flexbox(column, center, center);

  &__mockup-container {
    position: relative;
    width: 90%;
    @include flexbox(row, flex-start, null); // overflow: hidden;
    // margin-right: 5rem;
  }

  &__mockup {
    width: 100%;
    height: 70vh;
    // zoom: 0.75;
    // width: 100rem;
    // aspect-ratio: 16/9;
    // height: 200rem;
    background-color: white;
    border-radius: 2rem;
    margin: 3rem;
  }

  &__button {
    position: absolute;
    bottom: 2rem;
    right: -3rem;
    text-transform: uppercase;
    background-color: black;
    color: $secondary-text-color;
    padding: 2rem;
    border-radius: 1rem;
    margin-right: 2rem;
    border: none;
    box-shadow: 8px 13px 18px -3px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    color: white;
  }
}
