@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.create-palette-buttons {
  @include flexbox(column, flex-end, flex-end);
  margin: 10rem;

  &__button {
    text-transform: uppercase;
    background-color: rgb(48, 46, 46);
    color: $secondary-text-color;
    padding: 2rem;
    border-radius: 1rem;
    margin-right: 2rem;
    border: none;
    box-shadow: 8px 13px 18px -3px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    color: white;
    margin: 2rem 3rem;
  }

  &__add-collection-button {
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 2rem;
    border-radius: 1rem;
    margin-right: 2rem;
    border: none;
    box-shadow: 8px 13px 18px -3px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    margin: 1rem 0;
  }
}

.add {
  @include flexbox(column, null, null);
  padding: 2rem;
  background-color: rgb(48, 46, 46);
  border-radius: 1rem;
}

.add-c {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 2rem;
  border: none;
  background-color: rgb(48, 46, 46);
  font-size: 2rem;
  color: white;
}
