@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.explore-palette {
  @include flexbox(column, null, null);

  &__colours-container {
    @include flexbox(row, center, null);
    border: 2px solid black;
  }

  &__colour-card {
    width: 15rem;
    height: 20rem;
    border: 1px solid black;
    @include flexbox(row, center, center);
  }

  &__colour {
    color: white;
  }

  &__view-button {
    text-transform: uppercase;
    background-color: $primary-background;
    color: $secondary-text-color;
    border: none;
    padding: 2rem 3rem;
    margin: 1rem 4rem;
    border-radius: 1rem;
    align-self: flex-end;
  }

  &__like-button {
    width: 4rem;
    align-self: flex-end;
  }
}
