@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.explore-palette {
  @include flexbox(column, space-evenly, center);
  width: 25rem;
  height: 35rem;
  background-color: rgba($color: #252222, $alpha: 5);
  border: 1px solid #59585c;
  // box-shadow: 10px 14px 24px 0px rgba(114, 111, 123, 0.5);
  margin: 1rem;
  border-radius: 1rem;

  &__colours-container {
    @include flexbox(column, center, null);
    width: 20rem;
    height: 25rem;
    border-radius: 1rem;
    overflow: hidden;
    // box-shadow: 8px 13px 18px -3px rgba(0, 0, 0, 0.5)
  }

  &__colour-card {
    width: 100%;
    height: 25%;
    @include flexbox(row, center, center);
  }

  &__colour {
    color: white;
  }

  &__view-button {
    text-transform: uppercase;
    background-color: white;
    color: black;
    border: none;
    padding: 1rem 3rem;
    // margin: 1rem 4rem;
    border-radius: 1rem;
  }

  &__like-button {
    width: 4rem;
    align-self: flex-end;
  }

  &__likes-count {
    font-size: 2rem;
    margin: 0.5rem;
  }

  &__buttons-container {
    @include flexbox(row-reverse, space-evenly, center);
    width: 100%;
  }

  &__likes-container {
    @include flexbox(row, space-evenly, center);
  }
}
