@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

@font-face {
  font-family: Plex Sans;
  src: url("../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Plex Sans;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}

.mockup1 {
  text-align: center;
  font-family: Plex Sans;
  font-size: 1rem;
  @include media-mobile {
    font-size: 1.2rem;
  }
  @include media-tablet {
    font-size: 1.4rem;
  }
  @include media-desktop {
    font-size: 1.6rem;
  }
}

.mockup1-nav {
  padding: 2rem;
  @include flexbox(row, space-between, center);

  @include media-tablet {
    padding: 3rem;
  }
  @include media-desktop {
    padding: 6rem;
  }
  &__logo {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 2rem;

    @include media-mobile {
      font-size: 3rem;
      padding: 2rem;
    }

    @include media-tablet {
      font-size: 4rem;
    }

    @include media-desktop {
      font-size: 6rem;
    }
  }

  &__list {
    display: none;
    list-style: none;

    @include media-tablet {
      @include flexbox(row, null, center);
    }
  }

  &__link {
    padding: 1rem;
    margin: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    @include media-desktop {
      font-size: 2.5rem;
    }
  }
}

.mockup1-hero {
  @include flexbox(column, center, flex-end);
  text-align: right;
  padding: 2rem;
  @include media-tablet {
    padding: 2rem 6rem;
  }

  &__title {
    margin: 2rem 0;
    font-size: 3rem;
    font-weight: 700;
    @include media-mobile {
      font-size: 4rem;
      font-weight: 700;
      margin: 6rem 0 3rem;
    }

    @include media-tablet {
      font-size: 5rem;
    }

    @include media-desktop {
      font-size: 7rem;
    }
  }

  &__subtitle {
    font-size: 1.4rem;
    width: 80%;

    @include media-mobile {
      font-size: 2rem;
      width: 60%;
    }

    @include media-desktop {
      font-size: 3rem;
    }
  }

  &__button {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 2rem;
    border: none;

    @include media-mobile {
      font-size: 1.6rem;
      letter-spacing: 1rem;
      padding: 1.5rem 2rem;
      margin: 4rem 0;
    }

    @include media-desktop {
      font-size: 3rem;
      width: 25%;
      margin: 8rem 0;
    }
  }
}

.mockup1-banner {
  padding: 5rem 2rem;
  text-align: center;
  @include flexbox(column, null, center);

  @include media-mobile {
    padding: 10rem 5rem 5rem;
  }
  &__text {
    font-size: 1.3rem;
    @include media-mobile {
      font-size: 2rem;
    }

    @include media-desktop {
      font-size: 3rem;
    }
  }

  &__button {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: 3rem;
    width: 15rem;

    @include media-mobile {
      width: 20rem;
      font-size: 1.5rem;
      padding: 1.5rem 2rem;
      margin: 3rem 0;
      letter-spacing: 1rem;
    }

    @include media-desktop {
      font-size: 2rem;
      width: 20%;
    }
    letter-spacing: 0.5rem;
    border-radius: 2rem;
    border: none;
  }
}

.mockup1-title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 3rem;

  @include media-mobile {
    font-size: 4rem;
    margin-top: 10rem;
  }

  @include media-desktop {
    font-size: 6rem;
  }
}

.mockup1-cards {
  @include media-tablet {
    @include flexbox(row, center, center);
    padding: 5rem;
  }
  @include flexbox(column, center, center);
  padding: 2rem;

  &__card {
    @include media-tablet {
      width: 30%;
      height: 30rem;
    }
    width: 80%;
    height: 30rem;
    margin: 1rem;
    border-radius: 2rem;
    @include flexbox(column, center, flex-start);
    padding: 2rem;
    text-align: left;

    &--center {
      @include media-tablet {
        height: 35rem;
        width: 35%;
      }
    }
  }

  &__circle {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 2rem;

    &--center {
      @include media-tablet {
        width: 10rem;
        height: 10rem;
      }
    }
  }

  &__title {
    font-size: 1.5rem;

    @include media-desktop {
      font-size: 2rem;
    }
    margin: 1rem 0;
  }

  &__text {
    font-size: 1rem;

    @include media-desktop {
      font-size: 1.6rem;
    }
  }
}
