@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.homepage-hero {
  // @include flexbox(column, space-between, null);
  padding: 20vw 10rem 2rem;

  &__title {
    font-size: 3rem;
    // padding: 3rem;

    @include media-tablet {
      padding-top: 20rem;
      width: 70%;
      font-size: 6rem;
    }

    @include media-desktop {
      padding-top: 10rem;
      width: 50%;
      font-size: 6rem;
    }
  }

  &__get-started-button {
    text-transform: uppercase;
    background-color: rgb(48, 46, 46);
    color: $secondary-text-color;
    padding: 2rem;
    border-radius: 1rem;
    margin-right: 2rem;
    border: none;
    box-shadow: 8px 13px 18px -3px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    color: white;
    margin: 2rem 0;
  }
}
