@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.explore-palettes {
  @include flexbox(row, center, null);
  flex-wrap: wrap;
  align-content: center;
  margin: 2rem;

  @include media-desktop {
    margin: 4rem 20rem;
  }
}
