@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.App {
  font-family: sans-serif;
  //   text-align: center;
  color: white;
  padding: 5rem;
  @include flexbox(row, space-evenly, center);
}

#in1,
#in2,
#in3 {
  color: white;
}

input[type="number"] {
  background-color: white !important;
}

#in1 {
  background: white !important;
}

.preview {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.container {
  @include flexbox(column, null, null);
}

.button {
  text-transform: uppercase;
  background-color: black;
  color: $secondary-text-color;
  padding: 2rem;
  border-radius: 1rem;
  margin-right: 2rem;
  border: none;
  box-shadow: 8px 13px 18px -3px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  color: white;
  margin: 2rem 0;
}
