@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.App {
  font-family: sans-serif;
  color: white;
  padding: 1.6rem;

  @include media-tablet {
    @include flexbox(row, space-evenly, center);
    padding: 5rem;
  }
}

#in1,
#in2,
#in3 {
  color: white;
}

input[type="number"] {
  background-color: white !important;
}

#in1 {
  background: white !important;
}

.preview {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgb(206, 9, 9),
    rgb(241, 157, 2),
    rgb(242, 242, 4),
    rgb(10, 234, 10),
    rgb(28, 224, 224),
    rgb(24, 24, 183),
    rgb(158, 5, 158)
  );

  @include media-tablet {
    width: 15rem;
    height: 15rem;
    margin-bottom: 5rem;
  }

  @include media-desktop {
    width: 20rem;
    height: 20rem;
  }
}

.container {
  @include flexbox(row, center, null);
  @include media-tablet {
    @include flexbox(column, null, null);
  }
}

.button {
  text-transform: uppercase;
  background-color: rgb(48, 46, 46);
  color: $secondary-text-color;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 8px 13px 18px -3px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  color: white;
  margin: 2rem 0 2rem 5rem;
  width: 8rem;

  @include media-tablet {
    padding: 2rem;
    margin: 2rem 0 4rem;
    font-size: 1.6rem;
    width: 15rem;
  }

  @include media-desktop {
    padding: 2rem;
    margin-right: 2rem;
    font-size: 1.6rem;
  }
}

.left-container {
  @include flexbox(column, null, center);
}

.input-hex {
  background-color: rgb(48, 46, 46);
  color: $secondary-text-color;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 8px 13px 18px -3px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  color: white;
  margin: 2rem 0;

  @include media-tablet {
    padding: 2rem;
    font-size: 2rem;
    margin-top: 7rem;
  }

  &__input {
    margin-left: 1rem;
    font-size: 1.2rem;

    @include media-tablet {
      margin-left: 2rem;
      font-size: 2rem;
      width: 10rem;
    }
  }
}
