@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.App {
  font-family: sans-serif;
  //   text-align: center;
  padding: 5rem;
  @include flexbox(row, space-evenly, center);
}

.preview {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.container {
  @include flexbox(column, null, null);
}

.button {
  text-transform: uppercase;
  background-color: $primary-background;
  color: $secondary-text-color;
  border: none;
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 1rem;
}
