@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.nav {
  position: relative;
  @include flexbox(row, space-between, center);
  padding: 3rem 3rem 3rem 10rem;

  &__logo {
    background: linear-gradient(
      to right,
      rgb(252, 3, 3),
      rgb(246, 246, 2),
      rgb(4, 237, 4),
      rgb(4, 246, 246),
      rgb(3, 3, 245),
      rgb(235, 2, 235),
      rgb(246, 12, 12)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
  }

  &__tablet-links-container {
    display: none;

    @include media-tablet {
      display: flex;
    }
  }

  &__link {
    text-decoration: none;
    background-color: black;
    color: $secondary-text-color;
    padding: 2rem;
    border-image: conic-gradient(from var(--angle), rgb(3, 3, 3)) 1;
    border-radius: 4rem;
    margin-right: 2rem;
    box-shadow: 8px 13px 18px -3px rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
    color: white;
    overflow: hidden;

    &:hover {
      --angle: 0deg;
      border: 1px solid;
      border-image: conic-gradient(
          from var(--angle),
          rgb(250, 0, 0),
          rgb(254, 254, 3),
          rgb(1, 249, 1),
          rgb(0, 249, 249),
          rgb(0, 0, 251),
          rgb(251, 1, 251),
          rgb(246, 1, 1)
        )
        1;
      overflow: hidden;
      border-radius: 2rem;
      animation: 3s rotate linear infinite;
    }
  }

  &__menu-icon {
    width: 5rem;
    position: absolute;
    top: 2.5rem;
    right: 1rem;

    @include media-tablet {
      display: none;
    }
  }
}

.menu-nav {
  position: relative;
  @include flexbox(column, null, null);

  &__logo {
    color: $secondary-text-color;
    text-decoration: none;
    padding: 2rem;
    font-size: 5rem;
  }

  &__links-container {
    @include flexbox(column, null, center);
  }

  &__link {
    text-decoration: none;
    color: $secondary-text-color;
    font-size: $font-size-mobile;
    padding: 2rem;
    background-color: black;
    width: 15rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__menu-icon {
    width: 5rem;
    position: absolute;
    top: 2.5rem;
    right: 1rem;
  }
}
