.page-buttons {
  display: flex;
  justify-content: center;
}

.page-button {
  color: black;
  background-color: white;
  border: none;
  width: 5rem;
  height: 5rem;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem;
}

.colour-sort {
  display: flex;
  margin: 5rem;

  &__colour {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 2rem;

    &--selected {
      border: 2px solid white;
    }
  }
}

.select-sort {
  height: 5rem;
  font-size: 3rem;
  padding: 1rem;
  margin: 0 4rem;
  width: 30rem;
  border-radius: 2rem;
}
