.explore {
  text-align: center;
}

.page-buttons {
  display: flex;
  justify-content: center;
}

.page-button {
  color: black;
  background-color: white;
  border: none;
  width: 5rem;
  height: 5rem;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem;
}

.colour-sort {
  display: flex;
  margin: 3rem;
  justify-content: center;

  &__colour {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 2rem;

    &--selected {
      border: 2px solid white;
    }
  }
}

.select-sort {
  height: 3rem;
  font-size: 1.6rem;
  padding: 0.5rem;
  margin: 0 4rem;
  width: 15rem;
  border-radius: 1rem;
  background-color: rgb(94, 94, 95);
}
