@use "../../styles/partials/mixins" as *;

.image-palette-form {
  border-radius: 4px;
  border: 2px solid black;
  padding: 5rem 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10rem;

  &__label {
    font-size: 6rem;
    margin: 2rem;
    font-weight: 700;
    display: inline-block;
    width: 50%;
  }

  &__input {
    margin: 2rem;
    background-color: rgb(48, 46, 46);
    padding: 2rem;
    border-radius: 1rem;
    margin-right: 2rem;
    border: none;
    box-shadow: 8px 13px 18px -3px rgba(0, 0, 0, 0.5);
    font-size: 2.5rem;
    color: white;
    width: 40rem;
  }

  &__image {
    width: 60rem;
  }
}

.image-palette {
  @include flexbox(column, null, null);

  &__colours-container {
    @include flexbox(row, center, null);
    margin: 0;
  }

  &__colour-card {
    border-bottom: 0.5px solid rgb(94, 94, 94);
    width: 15rem;
    height: 20rem;
    @include flexbox(row, center, center);

    &--left {
      border-left: 0.5px solid rgb(94, 94, 94);
    }
    &--right {
      border-right: 0.5px solid rgb(94, 94, 94);
    }
  }

  &__copy-text-container {
    position: relative;
    margin: 1rem 0;
    padding: 1rem;
    @include flexbox(row, space-around, center);
  }

  &__colour {
    font-size: 2rem;
  }

  &__copy-icon {
    width: 2.5rem;
  }
}
