@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.image-palette-form {
  border-radius: 4px;
  border: 2px solid black;
  padding: 2rem 1.6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10rem 0 5rem;

  @include media-tablet {
    padding: 5rem 5rem 0;
  }

  &__label {
    font-size: 3rem;
    margin: 2rem;
    font-weight: 700;
    display: inline-block;
    width: 80%;

    @include media-tablet {
      font-size: 5rem;
      width: 70%;
    }

    @include media-desktop {
      font-size: 6rem;
      width: 50%;
    }
  }

  &__input {
    margin: 2rem;
    background-color: rgb(48, 46, 46);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 2rem;
    border: none;
    box-shadow: 8px 13px 18px -3px rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
    color: white;
    width: 25rem;

    @include media-tablet {
      width: 40rem;
      font-size: 2.5rem;
      padding: 2rem;
      margin: 2rem;
    }
  }

  &__image {
    width: 30rem;

    @include media-tablet {
      width: 60rem;
    }
  }
}

.image-palette {
  display: none;

  @include media-tablet {
    @include flexbox(column, null, null);
  }

  &__colours-container {
    @include flexbox(row, center, null);
    margin: 0;
  }

  &__colour-card {
    border-bottom: 0.5px solid rgb(94, 94, 94);
    width: 7rem;
    height: 10rem;
    @include flexbox(row, center, center);

    @include media-tablet {
      width: 15rem;
      height: 20rem;
    }

    &--left {
      border-left: 0.5px solid rgb(94, 94, 94);
    }
    &--right {
      border-right: 0.5px solid rgb(94, 94, 94);
    }
  }

  &__copy-text-container {
    position: relative;
    margin: 1rem 0;
    padding: 1rem;
    @include flexbox(row, space-around, center);
  }

  &__colour {
    font-size: 2rem;
  }

  &__copy-icon {
    width: 2.5rem;
  }
}

.image-palette-buttons {
  @include flexbox(column, null, center);
  margin-bottom: 5rem;

  @include media-tablet {
    margin-right: 10rem;
    @include flexbox(column, null, flex-end);
  }

  &__button {
    text-transform: uppercase;
    background-color: rgb(48, 46, 46);
    color: $secondary-text-color;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 2rem;
    border: none;
    box-shadow: 8px 13px 18px -3px rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
    color: white;
    margin: 1rem 0;

    @include media-tablet {
      padding: 2rem;
      font-size: 2rem;
      margin: 2rem 0;
    }
  }

  &__form {
    @include flexbox(column, null, null);
    padding: 0.5rem 1rem;
    background-color: rgb(48, 46, 46);
    border-radius: 1rem;

    @include media-tablet {
      padding: 2rem;
    }
  }

  &__select {
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 2rem;
    border: none;
    background-color: rgb(48, 46, 46);
    color: white;

    @include media-tablet {
      padding: 1rem;
      font-size: 2rem;
    }
  }

  &__add-collection-button {
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 2rem;
    border: none;
    box-shadow: 8px 13px 18px -3px rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
    margin: 1rem 0;

    @include media-tablet {
      padding: 2rem;
      font-size: 2rem;
    }
  }
}

.image-mobile-tablet-palette {
  width: 25rem;
  margin: 3rem;
  border-radius: 2rem;
  overflow: hidden;
  margin: 2rem auto;
  margin-top: 10rem;

  @include media-tablet {
    display: none;
  }

  &__colour {
    height: 8rem;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  &__hex {
    font-size: 3rem;
    padding: 1rem 2rem;
  }

  &__copy-icon {
    position: absolute;
    right: 1rem;
    top: 2rem;
    width: 4rem;
  }
}
