@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.features {
  padding: 3rem;
  text-align: center;

  &__title {
    font-size: 5rem;

    @include media-tablet {
      padding: 3rem;
      margin-top: 10rem;
    }
  }

  &__container {
    padding: 2rem 10rem;

    @include media-tablet {
      @include flexbox(row, center, center);
      flex-wrap: wrap;
    }
  }
}

.feature {
  text-align: center;
  margin: 5rem;

  @include media-tablet {
    width: 30%;
  }

  &__title {
    font-size: 2rem;
    padding: 1rem;
  }

  &__description {
    font-size: 1.6rem;
  }
}
