@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.features {
  padding: 3rem;
  text-align: center;

  &__title {
    font-size: 3rem;

    @include media-tablet {
      font-size: 5rem;
    }

    @include media-desktop {
      padding: 10rem 3rem 3rem;
      margin-top: 15rem;
      font-size: 5rem;
    }
  }

  &__container {
    @include media-tablet {
      padding: 2rem 3rem;
      @include flexbox(row, center, center);
      flex-wrap: wrap;
    }

    @include media-desktop {
      padding: 2rem 10rem;
    }
  }
}

.feature {
  text-align: center;
  margin: 5rem;

  @include media-tablet {
    width: 30%;
  }

  &__title {
    font-size: 1.6rem;
    padding: 1rem;

    @include media-tablet {
      font-size: 2.5rem;
    }
  }

  &__description {
    font-size: 1.2rem;

    @include media-tablet {
      font-size: 1.6rem;
    }
  }
}
