@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  @include flexbox(column-reverse, null, null);
  padding: 2rem;
  font-size: $font-size-mobile;

  @include media-tablet {
    @include flexbox(row, space-between, center);
    padding: 5rem;
    margin-top: 5rem;
  }

  @include media-desktop {
    margin-top: 20rem;
    padding: 5rem 10rem;
  }

  &__author-container {
    @include media-desktop {
      margin-right: 50%;
    }
  }

  &__logo {
    background: linear-gradient(
      to right,
      rgb(206, 9, 9),
      rgb(241, 157, 2),
      rgb(242, 242, 4),
      rgb(10, 234, 10),
      rgb(28, 224, 224),
      rgb(24, 24, 183),
      rgb(158, 5, 158)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
    font-size: 3rem;

    @include media-tablet {
      font-size: 5rem;
    }
    @include media-desktop {
      font-size: 7rem;
    }
  }

  &__author {
    font-size: 1.5rem;
    @include media-tablet {
      font-size: 2rem;
    }
  }

  &__contact-info {
    margin-bottom: 5rem;

    @include media-tablet {
      margin-bottom: 0;
    }

    @include media-desktop {
      margin-bottom: 10rem;
    }
  }

  &__contact-title {
    font-size: 2rem;
  }

  &__contact-info-list {
    list-style: none;
  }

  &__contact-info-item {
    margin-top: 1rem;
  }
}
