@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.user-main {
  @include flexbox(column, null, null);
  margin: 2rem;
  border-radius: 2rem;
  border: 1px solid white;
  overflow: hidden;

  @include media-tablet {
    margin: 10rem 20rem;
    @include flexbox(row, null, null);
  }
}

.user-info {
  font-size: 2rem;
  padding: 2rem;
  border: 1px solid white;
  // width: 25%;

  @include media-tablet {
    width: 25%;
  }

  &__username {
    margin: 1rem 0;
    border-bottom: 1px solid red;
    padding: 0.5rem;
  }

  &__name {
    border-bottom: 1px solid rgb(255, 191, 0);
    padding: 0.5rem;
  }

  &__collections {
    margin: 1rem 0;
    border-bottom: 1px solid rgb(0, 255, 42);
    padding: 0.5rem;
  }

  &__favourites {
    margin: 1rem 0;
    border-bottom: 1px solid rgb(0, 170, 255);
    padding: 0.5rem;
  }
  &__palettes {
    margin: 1rem 0;
    border-bottom: 1px solid rgb(179, 0, 255);
    padding: 0.5rem;
  }
}

.user-library {
  // width: 75%;
  padding: 1rem;
  font-size: 1.5rem;
  border: 1px solid white;

  @include media-tablet {
    width: 75%;
    padding: 2rem;
    font-size: 2rem;
  }

  &__nav {
    list-style: none;
    @include flexbox(column, null, null);

    @include media-tablet {
      @include flexbox(row, null, null);
    }
  }

  &__nav-link {
    padding: 1rem;
    font-size: 2.5rem;

    @include media-tablet {
      font-size: 3rem;
    }

    &--selected {
      background-color: white;
      color: black;
      border-radius: 4px;
    }
  }

  &__palettes {
    @include flexbox(row, null, null);
    flex-wrap: wrap;
    padding: 2rem;
  }
}
