@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.user-main {
  @include flexbox(row, null, null);
  margin: 10rem 20rem;
  border-radius: 2rem;
  border: 1px solid white;
  overflow: hidden;
}

.user-info {
  font-size: 2rem;
  padding: 2rem;
  border: 1px solid white;
  width: 25%;

  // margin: 10rem 20rem;

  &__username {
    margin: 1rem 0;
    border-bottom: 1px solid red;
    padding: 0.5rem;
  }

  &__name {
    border-bottom: 1px solid rgb(255, 191, 0);
    padding: 0.5rem;
  }

  &__collections {
    margin: 1rem 0;
    border-bottom: 1px solid rgb(0, 255, 42);
    padding: 0.5rem;
  }

  &__favourites {
    margin: 1rem 0;
    border-bottom: 1px solid rgb(0, 170, 255);
    padding: 0.5rem;
  }
  &__palettes {
    margin: 1rem 0;
    border-bottom: 1px solid rgb(179, 0, 255);
    padding: 0.5rem;
  }
}

.user-library {
  // margin: 10rem 20rem;
  width: 75%;
  padding: 2rem;
  font-size: 2rem;
  border: 1px solid white;

  &__nav {
    list-style: none;
    display: flex;
  }

  &__nav-link {
    padding: 1rem;
    font-size: 3rem;

    &--selected {
      background-color: white;
      color: black;
      border-radius: 4px;
    }
  }

  &__palettes {
    @include flexbox(row, null, null);
    flex-wrap: wrap;
    padding: 2rem;
  }
}
