@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.library-collection {
  margin: 3rem 0;
  &__name {
    font-size: 3rem;
    font-weight: 600;
  }

  &__palettes-container {
    @include flexbox(row, null, null);
  }

  &__edit-button {
    width: 4rem;
  }

  &__delete-button {
    width: 4rem;
  }

  &__delete-palette-button {
    width: 4rem;
  }

  &__icons-container {
    @include flexbox(row, space-evenly, null);
    width: 12rem;
  }
}
